body {
	background-color: black;
	font-family: 'DotGothic16', sans-serif;
	font-size: 28px;
}
a:visited {
	color: white;
}

a {
	color: white;
	text-decoration: underline;
	
}

a:hover {
	color: red;
	cursor: pointer;
}

#flavour {
	color: white;
	font-size: larger;
	padding: 10px;
}

ul {
	list-style-type: none;
	padding: 20;
	margin: 0;
	color: white;
}

#title {
	font-size: 200px;
	color: red;
	text-align: center;
}
