body {
	background-color: black;
	font-family: 'DotGothic16', sans-serif;
	font-size: 28px;
}
a:visited {
	color: white;
}

a {
	color: white;
	text-decoration: underline;
	
}

a:hover {
	color: red;
	cursor: pointer;
}

#flavour {
	color: white;
	font-size: larger;
	padding: 10px;
}

ul {
	list-style-type: none;
	padding: 20;
	margin: 0;
	color: white;
}

#title {
	font-size: 200px;
	color: red;
	text-align: center;
}

#ruby {
	color: red;
}

#key {
	color: gold;
}

.grid-container {
  display: grid;
  grid-column-gap: auto;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 300px 300px 300px;
  background-color: #2196F3;
	padding: 500px;
	align-content: center;
	vertical-align: top;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
